<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @form.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @form.description %>
</p>

<p>
  <%= @instance.to_h %>
</p>

<%= link_to 'Back', company_forms_path(@company) %>
